body {
  margin: 0;
    margin-top: 600px;
   
}

#cover {
    position: absolute;
    overflow: hidden;
    height: 800px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9  ;
    background: linear-gradient(#131313 0%, #131313 40%, #9c0909 100%);
    color: white;

}

.container2 {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#coverimg {
    margin-top: -100px;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 50%;
    width: 450px;
}

#about {

    text-align: center;
    font-size: 25px;
    padding:50px;
    color: white;

}
.about2{
    background: linear-gradient(#32527b 0%, #32527b  30% ,#131313 100%);

}

.line {
    height: 6px;
    width: 70px;
    margin: auto;
    background-color: black;

}

p {
    max-width: 530px;
    font-size: 20px;
    line-height: 1.4;
    margin: auto;
    margin-top: 30px;

}

h2 {
    font-size: 25px;
    font-family: 'Mate SC', serif;
}

#Heading {

    font-family: 'Merriweather', serif;
    font-size: 100px;
    color:dodgerblue;
}
